.box-post{
    background: #ffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px;
    transition: transform 180ms ease-in-out;
}
.box-post:hover{
    transform: scale(1.022);
}
.box-post img{
    max-width: 100%;
}