.container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    background: #eeee;
    padding: 30px;
}
.box{
    display: grid;
    grid-template-columns:
            repeat(auto-fill,minmax(280px,1fr ));
    gap: 30px;

}
.box-post{
    background: #ffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px;
}
.box-post img{
    max-width: 100%;
}